<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        body {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            background-color: #f0f0f0;
        }
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 style="text-align: center; margin-top: 50px; color: #333;">
        Sign Up
    </h1>
    <div>
        <form method="post" action="/user/signup">
            <label> Username </label>
            <input type="text" name="username" placeholder="Enter your username">
            <br><br>
            <label> Email </label>
            <input type="email" name="email" placeholder="Enter your email">
            <br><br>
            <label> Password </label>
            <input type="password" name="password" placeholder="Enter your password">
            <br><br>
            <button type="submit">Sign Up</button>
        </form>
    </div>
</body>
</html>